/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}
/* Début des modifications sur le formulaire */

form {
  width: 377px;
  height: 49px;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

input,
.bouton a {
  font-size: medium;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border: 1px solid #f2f2f2;
  text-align: center;
}

input:focus {
  outline: none;
}

#loupe {
  display: none;
}

.bouton {
  color: white;
  background-color: #0065fc;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 200px;
  text-align: center;
}

#label_recherche {
  background-color: #f2f2f2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#icone_recherche {
  color: black;
  font-size: large;
}

body {
  display: flex;
  justify-content: center;
  margin: 0px;
}

/* Modifications sur le header*/
#logo_header {
  width: 61.09px;
  height: 19px;
  padding: 20px 20px 20px 0px;
  margin: 20px 20px 20px 0px;
}

header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

nav {
  width: 250px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

nav a:hover {
  color: #0065fc;
  border-top-color: #0065fc;
}

nav a {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-color: white;
  border-top-width: 3px;
  border-top-style: solid;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

/* Modifications sur la section filtre */

.elements_filtres i,
.infobar i {
  padding-left: 10px;
  padding-right: 10px;
}

.filterbar,
.elements_filtres {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.filterbar a {
  display: block;
  padding: 15px;
  margin: 8px;
  font-size: large;
}

.elements_filtres a {
  border-radius: 30px;
  border: 3px solid #f2f2f2;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.elements_filtres a:hover {
  background-color: rgb(0, 101, 252, 0.3);
}
/* Création du logo INFO */

.infobar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.infobar p {
  margin-left: 10px;
}

#logo_info {
  color: #0065fc;
  border-radius: 100%;
  border: #f2f2f2 solid 2px;
  display: flex;
  padding: 4px 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  /*background-color: var(--main-bg-color);*/
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
  background-color: #f2f2f2;
}

/* Cartes hébergements */

#first-row,
#second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 310px;
}

.hebergements-cards a {
  width: 30%;
}

.hebergements-cards .card {
  display: flex;
  margin-top: 33px;
  flex-direction: column;
  height: 80%;
}

.hebergements-cards img {
  height: 60%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.hebergements-cards .card-content {
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  flex-direction: column;
  height: 40%;
}

.hebergements-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
  margin: 0;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}

#lien-afficher {
  font-size: large;
  font-weight: 700;
  display: block;
  margin-top: 30px;
}
/****** Populaires ***********/
.populaires {
  width: 32%;
  background-color: #f2f2f2;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards {
  height: 95%;
  display: flex;
  flex-direction: column;
}

.populaires-cards a {
  height: 33%;
}

.populaires-cards .card {
  height: 80%;
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/* Cartes activités */

.activites {
  margin-left: 30px;
  padding-right: 20px;
}

.activites-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.activites-cards a {
  width: 23%;
}

.activites-cards .card {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  box-shadow: 0px 3px 15px 0px #0000001a;
  height: 430px;
  width: 100%;
  padding: 0px;
}

.activites-cards img {
  width: 100%;
  height: 380px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activites-cards .card-content {
  width: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.activites-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
  width: 100%;
}

/* Footer */

footer {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-bottom: 20px;
  margin-top: 50px;
}

.text-footer {
  display: flex;
  flex-direction: column;
  padding-right: 200px;
  padding-left: 50px;
}

.text-footer a {
  padding-top: 5px;
  padding-bottom: 5px;
}

.text-footer a:hover {
  /* Pas demandé, mais plus clair */
  text-decoration: underline;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  /* Section filtres */

  .filterbar {
    display: flex;
    flex-direction: column;
  }

  .elements_filtres a {
    font-size: 14px;
  }

  /* Hebergement et populaire */

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .populaires-cards .card-title,
  .hebergements-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle,
  .hebergements-cards .card-subtitle {
    font-size: 13px;
  }

  /* Section hébergement */

  .hebergements-cards img {
    max-height: 80px;
  }

  .hebergements {
    width: 100%;
  }

  #first-row,
  #second-row {
    height: 50%;
  }

  /* Section populaire */

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    height: 100%;
    width: 30%;
  }

  .populaires-cards img {
    height: 7em;
  }

  /* Section activités */

  .activites-cards .card {
    height: 16em;
  }

  .activites-cards img {
    height: 85%;
    width: 100%;
  }

  .activites-cards .card-content {
    height: 15%;
  }

  .activites-cards .card-title {
    font-size: 10px;
  }

  .activites-cards .card-title {
    width: auto;
  }

  /* Section Footer */

  .text-footer {
    padding-right: 50px;
    padding-left: 50px;
    font-size: 12px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) and (min-width: 320px) {
  .main-container {
    padding: 0;
  }
  /* Section header */
  header {
    flex-direction: column;
  }

  #logo_header {
    margin: auto;
  }

  nav {
    margin: auto;
    text-align: center;
    width: 100%;
    padding-left: 0;
  }

  nav a {
    width: 50%;
    border-bottom-color: #f2f2f2;
    border-bottom-width: 3px;
    border-bottom-style: solid;
  }

  nav a:hover {
    color: #0065fc;
    border-bottom-color: #0065fc;
    border-top-color: white;
  }

  /* Info group */
  /* Headline */

  .info-group {
    padding-left: 15px;
    padding-right: 15px;
  }

  .headline h1 {
    font-size: x-large;
  }

  .headline p {
    font-size: medium;
  }

  /* Search bar */

  form {
    width: auto;
  }

  input {
    font-size: medium;
    width: 95%;
  }

  #label_recherche {
    width: 20%;
  }

  .bouton p {
    display: none;
  }

  .bouton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 20%;
    position: relative;
    left: -20px;
  }

  #loupe {
    display: block;
    color: white;
  }

  /* Filter Bar */

  .filterbar {
    width: auto;
  }

  .elements_filtres {
    width: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }

  .elements_filtres a {
    font-size: 12px;
    max-height: 50px;
    padding: 10px;
  }
  .elements_filtres i {
    padding-left: 5px;
    padding-right: 10px;
    text-align: center;
  }

  /* Info bar */

  .infobar {
    font-size: small;
  }

  #logo_info {
    padding: 6px 10px;
    font-size: x-small;
  }

  /* Hebergements et populaires */

  .hebergements-and-populaires {
    flex-direction: column-reverse;
  }

  .hebergements-and-populaires section {
    border-radius: 0;
  }

  /* Populaires */

  .populaires {
    margin-top: 0;
    background-color: #f2f2f2;
  }

  .populaires-cards {
    flex-direction: column;
  }

  .populaires-cards a {
    width: 100%;
  }

  .populaires-cards .card {
    width: auto;
  }

  .populaires-cards .card-content {
    width: fit-content;
  }

  /* Hébergement */

  .hebergements {
    background-color: white;
  }

  .hebergements-cards {
    flex-direction: column;
  }

  #first-row,
  #second-row {
    flex-direction: column;
  }

  .hebergements-cards a {
    width: 100%;
    height: 12em;
  }

  .hebergements-cards .card {
    margin-top: 15px;
    width: auto;
  }

  .hebergements-cards img {
    height: auto;
  }

  .hebergements-cards .card-content {
    width: auto;
    height: 50%;
  }

  #lien-afficher {
    margin-top: 0;
  }

  /* Activites */

  .activites-cards {
    flex-direction: column;
    align-items: flex-start;
    padding-right: 15px;
  }

  .activites-cards a {
    width: 95%;
  }

  .activites-cards img {
    height: 80%;
    width: 100%;
  }

  .activites-cards .card-content {
    height: 20%;
  }

  .activites-cards .card {
    width: 100%;
    margin-bottom: 20px;
    max-height: 14em;
  }

  /* Footer */

  footer {
    flex-direction: column;
  }
}
